.menu {
  display: inline-block;
  width: 100vw;
  height: 6vh;
  background-color: #000000;
  text-align: left;
}

.menu-item {
  color: #ffffff;
  display: inline-block;
  padding: 12px;
}

.logout{
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  right: 10px;
}
