.login-box{
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 2px 2px #ccc;
  width: 50vw;
  height: 50vh;
  display: inline-block;
  padding-top: 80px;
}

.users-dropdown{
  padding: 2px;
  margin-top: 40px;
  width: 80%;
}

.login-button{
  padding: 2px;
  margin: 10px;
}